# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
    - name: Build Rust core
      run: cd synth-core && cargo build --release
    - name: Build
      run: xcodebuild -project Synth.xcodeproj -scheme Synth -configuration Debug build CODE_SIGNING_ALLOWED=NO
